body{
  margin: 0;
  background: #F5F6CE;
  display: flex; /*todo lo que este en el body va a ser flexible */
  min-height: 100vh;
}

.slider {
  width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
  list-style: none;
  padding: 0;
  display: flex;

  /*coloca los input en la parte inferior*/
  justify-content: center;
  align-items: flex-end;

  box-shadow: 0 0 0 15px white,
              0 0 0 35px,
              0 35px 60px;
}

.slider input[type="radio"]{
  display: none;
}

.slider img{
  position: absolute; /*se posicionan segun su ancestro */
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  opacity: 0; /*se oculta la imagen */
  transition: all 0.7s;
}


.slider input[type="radio"]:checked ~ img{ /*imagen hermana del input activado */
  opacity: 1;
}

.slider input[type="radio"] + label{ /*label que esta al lado del input */
  position: relative; /*necesario para usar el z-index */
  z-index: 50; /*el label se coloca por encima de la imagen y se puede hacer click */
  margin: 10px;

  display: block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.slider input[type="radio"]:checked + label {
  background: black;
  border: 2px solid white;
}
