body{
  display: flex;
}
.contenedor{
  height: 200px;
  width: 250px;
  margin: auto;
  -webkit-perspective: 700;
}

.carta {
  height: 100%;
  width:100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  box-shadow: 0px 0px 5px black;
}

/*.carta:hover{
  transform: rotateY(180deg);
}*/

.contenedor:hover .carta{
  transform: rotateY(180deg);
}

.lado {
  width: 100%;
  height:100%;
  backface-visibility: hidden;
  position: absolute;
}

.frente{
  background: crimson;
}

h1{
  color: #fff;
  margin-top: -50px;
}

.atras{
  background: #f0f0f0;
  transform: rotateY(180deg);
}

.atras h3{
  text-align: center;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.atras li{
  padding: 5px;
}

.atras li:hover{
  background: green;
}

.lado img{
  width: 100%;
  height:100%;
}
